header {
    width: 100%;
    height: 465px;
    background: var(--dark-blue-color);
}

.wrapper {
    max-height: 465px;
}

.contact {
    position: absolute;
    width: 40%;
    height: 98px;
    left: 40%;
    top: 196px;
}

.contact h1 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 80px;
    line-height: 98px;
    color: #FFFFFF;
}

/* main */

main {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1852px;
    color: var(--dark-blue-color);
}

.text {
    margin: 261px 0 0 209px;
    width: 80%;
    height: 152px;
}

.text h1 {
    font-family: 'Assistant';
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;

}

.text p {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    margin-top: 6px;
}

.iform{
    display: flex;
    justify-content: space-between;
}
.info {
    margin: 161px 0 0 202px;
    width: 30%;
    height: 351px;
}

.info h3 {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
    color: var(--dark-blue-color);
    padding: 15px 0;
}

.info .arrow {
    width: 325px;
    height: 53px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 13px;
    margin-bottom: 40px;
}

.info .arrow h1 {
    width: 214px;
    height: 53px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: var(--dark-blue-color);
}

form {
    margin: 161px 209px 0 0;
    width: 30%;
    height: 809px;
    display: flex;
    flex-direction: column;
    color: var(--dark-blue-color);
}

form label[for*="text"] {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
}

form input[type="text"] {
    width: 570px;
    height: 78px;
}

form label[for*="email"] {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    margin-top: 30px;
}

form input[type="email"] {
    width: 570px;
    height: 78px;
}

form label[for*="tarea"] {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    margin-top: 30px;
}

form textarea {
    width: 570px;
    height: 352px;
}

form button {
    width: 145px;
    height: 78px;
    padding: 25px;
    margin: 70px 0 0 429px;
    background: var(--dark-orange-color);
    border-radius: 1px;
    color: #FFFFFF;
    border: none;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
}

@media (max-width: 1400px) {
    
    .contact h1 {
        font-size: 50px;
    }
    
    .text {
        margin: 261px 0 0 80px;
    }
    
    .text h1 {
        font-size: 50px;
    }
    
    .text p {
        font-size: 24px;
        text-align: left;
    }

    .info {
        margin: 161px 0 0 102px;
    }

    .info h3 {
        font-size: 25px;
    }

    .info .arrow {
        width: 265px;
    }

    .info .arrow h1 {
        font-size: 30px;
    }

    form {
        margin: 161px 180px 0 0;
    }

    form input[type="text"] {
        width: 455px;
    }

    form input[type="email"] {
        width: 455px;
    }

    form textarea {
        width: 455px;
    }

    form button {
        margin: 70px 0 0 340px;
        width: 115px;
        font-size: 20px;
    }
      
  
    }
@media (max-width: 1100px) {
    
    .contact h1 {
        font-size: 40px;
    }
    
    .text {
        margin: 261px 0 0 70px;
    }
    
    .text h1 {
        font-size: 35px;
    }
    
    .text p {
        font-size: 22px;
    }

    .info {
        margin: 161px 0 0 72px;
    }

    .info h3 {
        font-size: 23px;
    }

    .info .arrow h1 {
        font-size: 27px;
    }

    form {
        margin: 161px 120px 0 0;
    }

    form label[for*="text"] {
        font-size: 20px;
    }
    
    form input[type="text"] {
        width: 270px;
        height: 58px;
    }
    
    form label[for*="email"] {
        font-size: 20px;
    }
    
    form input[type="email"] {
        width: 270px;
        height: 58px;
    }
    
    form label[for*="tarea"] {
        font-size: 20px;
    }
    
    form textarea {
        width: 270px;
        height: 252px;
    }
    
    form button {
        margin: 70px 0 0 149px;
    }
      
  
    }

@media (max-width: 800px) {
        
        .contact {
           left: 30%;
        }

        .contact h1 {
            font-size: 25px;
            line-height: 58px;
        }
    
        .text {
            margin: 51px 0 -30px 89px;
        
        }

        .text h1 {
            font-size: 30px;
            line-height: 52px;
        
        }
        
        .text p {
            font-size: 18px;
            line-height: 27px;
        }

        .iform{
            flex-direction: column;
        }
    
        .info {
            margin: 155px 0 0 89px;
        }
        
        .info h3 {
            font-size: 13px;
            padding: 15px 0;
        }
        
        .info .arrow img {
            width: 40px;
            height: 80px;
        }
        .info .arrow {
            width: 165px;
        }
        
        .info .arrow h1 {
            width: 114px;;
            font-size: 20px;
            line-height: 29px;
        }
    
        form {
            margin: 291px 0 0 89px;
            width: 270px;
            height: 609px;
        }
        
    
    
    }
@media (max-width: 500px) {

    .mobile-menu-container.active {
        height: 456px;
    
      }
        
        .contact {
           left: 20%;
        }

        .contact h1 {
            font-size: 15px;
            line-height: 48px;
        }
    
        .text {
            margin: 51px 0 -50px 19px;
        
        }

        .text h1 {
            font-size: 20px;
            line-height: 42px;
        
        }
        
        .text p {
            font-size: 15px;
            line-height: 20px;
        }

        .iform{
            flex-direction: column;
        }
    
        .info {
            margin: 155px 0 0 19px;
        }
        
        .info h3 {
            font-size: 11px;
            padding: 15px 0;
        }
        
        .info .arrow img {
            width: 30px;
            height: 60px;
        }
        .info .arrow {
            width: 145px;
        }
        
        .info .arrow h1 {
            width: 104px;;
            font-size: 17px;
            line-height: 29px;
        }
    
        form {
            margin: 291px 0 0 19px;
            width: 240px;
            height: 609px;
        }
        
        form input[type="text"] {
            width: 240px;
        }
        
        form input[type="email"] {
            width: 240px;
        }
        
        form textarea {
            width: 240px;
        }
        
        form button {
            margin: 70px 0 0 122px;
        }
    
    
    }

    